<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org/">
<head>

    <title>Exception!</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width,
          initial-scale=1,
          shrink-to-fit=no"/>

    <!-- Reference Bootstrap files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
            crossorigin="anonymous"></script>

</head>
<body>

<div class="container">

    <h3 th:text="${exceptionLog.error}" class="text-center"></h3>

    <table class="table table-bordered">

        <tr>
            <td>Date</td>
            <td th:text="${exceptionLog.timestamp}"></td>
        </tr>

        <tr>
            <td>Status</td>
            <td th:text="${exceptionLog.status}"></td>
        </tr>

        <tr>
            <td>Message</td>
            <td th:text="${exceptionLog.message}"></td>
        </tr>

    </table>
    <!--<a th:href="@{{redirect}(redirect=${exceptionLog.path})}" class="btn btn-outline-success btn-lg"><- Go Back</a>-->
    <a th:href="@{/customers/list}" class="btn btn-outline-success btn-lg"><- Go Back</a>
</div>

</body>
</html>